.component {
  background-color: var(--color-accent);
  border: 0;
  border-radius: 0.25em;
  color: var(--color-accent-contrast);
  font-family: var(--font-sans);
  font-size: 1rem;
  padding: 0.8rem 1.5rem;
}
